* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: dodgerblue;
}

.content {
    width: 50%;
    height: 50%;
    background-color: silver;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    padding: 10px;
}

h1 {
    
}